<!-- <script src="bundle.js" type="text/javascript" src="https://staygrid.com/js/hapi/web.js?v=20230831"></script> -->
<!-- <script src="bundle.js" type="text/javascript">
    var hlWebEngine = new HotelogixWeb();    
    function drawEngine()
    {
        var options = {
                container: document.getElementById("webDiv"),
                hotelId: "QV5TX0ZSczM0Xzc3NDA5X0Y1dGVyOTA4N3NfKWRoZl9kcnRlcjdfNzc0MDlfaGdmaF9nXmQ4NTQ=",
                languageId: 1
            };
        hlWebEngine.draw(options);
        console.log(options)
    }
    hlWebEngine.run(drawEngine);
</script>
<div id="webDiv" style="border-width: 0"></div> -->