.home-main-image{
    background-image: url('https://res.cloudinary.com/dobpvkjao/image/upload/v1693079407/RESORT_KEESARA_17_-_Photo.jpg.0_rrztli.jpg');
    height: 100vh;
}

.description{
    text-align: center;
    font-size: 24px;
    
}

.heading{
    color:greenyellow;
    font-weight: 600;
    text-align: center;
}

.description-container-home{
    background-color: #dbf3c9;
}

.map{
    height: 50vh;
    height: 70vh;
}

iframe{
    border: 0;
    height: 70vh;
    width: 100vw;
}

.img-home{
    height:60vh;
    width: 40vw;
}

.description-home{
display: flex;
align-items: center;
}

.nature-container-home{
    /* background-color: hsl(170, 72%, 33%); */
    background-color:#93dc5c;
    max-width: 100vw !important;
    color:#fff;
    margin: 0;
    padding-top: 4vh !important;
}

.nature-card-home{
    text-align: center;
    padding: 0 8vh 5vh 8vh !important;
}

