.img-contact{
    background-image: url("https://res.cloudinary.com/dobpvkjao/image/upload/v1693078699/convo_hall3_4_-_Photo_gf33ey.jpg");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading1{
    color: #ffffff;
    font-family: "Bree-serif";
    text-align: center;
}

.heading2{
    color: black;
    font-family: "Bree-serif";
    padding-top: 30px;
    padding-bottom: 20px;
    
}

.contact-container{
    background-color: #f7f7f7;
    padding: 20px 
}

.office-address{
background-color: lightgrey;
 padding-top :20px;
 border-radius: 5px;
}

.phone{
    background-color: lightgrey;
    padding-top: 20px;
    border-radius: 5px;
}

.email{
    background-color: lightgrey;
    padding-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.paragraph{
    font-size: 17px;
    color: black;
    font-family: "Roboto";
    margin: 10px;
}

.span-el{
    font-size: 20px;
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    margin: 10px;
}

.icon{
    height:50px;
    width: 50px;
}

/* .container{
    display: flex;
    flex-direction: row;
    justify-content: end;
} */