.img{
    background-image: url("https://res.cloudinary.com/dobpvkjao/image/upload/v1693078699/convo_hall3_4_-_Photo_gf33ey.jpg");
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.heading{
    color: #ffffff;
    font-family: "Bree-serif";
    text-align: center;
}

.heading2{
    color: black;
    font-family: "Bree-serif";
    padding-top: 30px;
    padding-bottom: 20px;
    
}