Nav.Link{
    color: black !important;
    justify-content: space-around;
    }

.navbar-main{
    font-weight: 700;
    font-size: 24px;
    width: 65vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-logo{
    height: 60px;
}

.bg-primary-color {
     background: #1B1717 !important;  /* Primary */
}

.btn-color {
    background: #EEEBDD !important;
    font-weight: 500;
}

.font-style__poppins {
    font-family: 'Poppins', sans-serif;
}

.font-style__Maven-Pro {
    font-family: 'Maven Pro', sans-serif;
}

.font-color {
    color: #EEEBDD !important;
    font-weight: 200;
}